<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.;Database=CarRental;User Id=sa;Password=sa123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>